.hero-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.hero-content {
  max-width: 550px;
}

.hero-buttons {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.hero-visual {
  width: 350px;
  height: 350px;
}

/* Responsive */
@media (max-width: 768px) {
  .hero-flex {
    flex-direction: column;
    text-align: center;
  }
}